NODE_ENV=development
PORT=3000

DATABASE_URL=postgres://postgres:postgres@localhost:5432/daphne_store

JWT_SECRET=CAMBIAR_POR_UN_SECRETO_SUPER_LARGO_Y_SEGURO
COOKIE_NAME=daphne_admin_token

SITE_NAME=Daphné
SITE_DOMAIN=daphnestore.com.ar
SITE_WHATSAPP=5493410000000
SITE_EMAIL=hola@daphnestore.com.ar
SITE_INSTAGRAM=https://instagram.com/daphnestore